body{
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	/*background:url("../image/bottom.jpg") repeat-x;*/
	background-color: rgb(255,251,240);
	scroll-behavior: none;
	overflow:hidden;
}
fieldset{
	width:450px;
	height:300px;
	margin:0 auto;
	border:2px solid green;
}

legend{
	color:red;
}
/*
.login_bg{
	margin: 0 auto;
	background:url("../image/login-bg.jpg") repeat-x;
	width:100%;
	height:800px;
}*/

.form1{
	width:100%;
	height:100%;
	margin:0 auto;
	position:absolute;
	border:0px;
}
h1{
	text-align: center;
	font-size: 50px;
	color:white;
	background-color:#2C0B1A8C;
}

table,td{
		border: 0px solid black;
}
#tdFloat{
	width: 30%;
	text-align: right;
	color:black;
}
input{
	height: 32px;
	width: 150px;
	background-color: white !important;
}

#register{
	background-color: green!important;
	color:white;
	border:0px;
	width:50px;
	float: right;
}

#tipUserName, #tipPassWord,#tipUserId,#tipPhone{
	color:orange;
	width:30%;
}

#backout{
	background-color: grey!important;
	color:white;
	border:0px;
	margin-right:10px;
	width:50px;
}

